:host {
    display: flex;
    min-height: 0;
    flex: 1 1 auto;
}

.movie-container {
    display: flex;
    flex-flow: column;
    min-height: 0;
    flex: 1 1 auto;
}

.movie-title {
}

.movie-detail {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.poster-container {
    width:100vw;
   height:60vh;
}

.poster-container img {
    object-fit: contain;
}

.line-item {
    flex-shrink: 0;
    padding: 0.5em 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.line-item.actions {
    padding: 0;
}

.line-item .add-to-list-button {
    width: 100%;
}

.line-item.poster-container {
    padding: 0;
}

.line-item .poster {
    width: 100%;
}

.vote-count {
    font-size: 0.7em;
}