<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ng-template #showLogin>
  <p>Please log in</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
<div *ngIf="user$ | async; else showLogin">
  <div>{{(user$ | async)?.displayName}}</div>
  <nav>
    <a routerLink="mylists" class="tab">My Lists</a>
    <a routerLink="search" class="tab">Search</a>
  </nav>
  <button (click)="logout()">Logout</button>
  <router-outlet></router-outlet>
</div>

