<p>
  list works!
</p>

<div *ngFor="let movie of (list$ | async)?.movies">
  <div>{{movie.title}}</div>
  <div class="watch-state">
    <div>watched: {{movie.watched}}</div>
    <div class="watch-toggle">
      <div (click)="toggleWatch(movie.id, true)" *ngIf="!movie.watched">Watch</div>
      <div (click)="toggleWatch(movie.id, false)" *ngIf="movie.watched">Unwatch</div>
    </div>
  </div>
  <div *ngIf="movie.watched">watched at: {{movie.watched_time | date}}</div>
  <div (click)="deleteMovie(movie.id)">- delete</div>
</div>