:host {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.search-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    padding: 0 1em;
}

cdk-virtual-scroll-viewport {
    flex: 1 1 auto;
}

.search-content .searchbox {
    flex: 0 1 auto;
}

.result-container {
    box-sizing: border-box;
    width: 100%;
    height: 3.125em;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    padding: 0.3125em 0;
}

.result-container:hover {
    background: rgba(0, 0, 0, .03)
}
