<input #searchBox id="search-box" [ngModel]="searchTerm" (input)="search(searchBox.value)" />
<ul>
  <li *ngFor="let item of searchResult?.results">
    <div *ngIf="isMovie(item); else tv">
      <a routerLink="/movie/{{item.result.id}}">
        <div>{{item.result.title}}</div>
        <div>{{item.result.release_date}}</div>
      </a>
    </div>

    <ng-template #tv>
      <a routerLink="/tv/{{item.result.id}}">
        <div>{{item.result.name}}</div>
        <div>{{item.result.first_air_date}}</div>
      </a>
    </ng-template>
  </li>
</ul>
<app-pagination [page]="searchResult?.page" [totalPages]="searchResult?.total_pages" [totalCount]="searchResult?.total_results"
  [countPerPage]="20" (goPage)="goToPage($event)">
</app-pagination>